html, body, canvas {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1.20em;
}

canvas {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.title {
  margin-left: 40px;
  color: white;
}

#button-link-section {
  display: inline-block;
  margin-top: 0.5em;
}

.links {
  margin-right: 1em;
  padding: 0.35em 0.4em;
  border: solid;
  border-color: white;
  color: white;
  border-radius: 2px;
  
}

.links:hover {
  color: grey;
  border-color: grey;
  text-decoration: none;
}

#greeting {
  font-size: 2.2em;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  /* margin-left: 0 !important; 
  padding-right: 70px !important; */
}

#alg-description {
  position: fixed;
  bottom: 1em;
  right: 1em;
  color: grey;
}

#alg-description:hover {
  color:white;
}

#alg-description-title {
  font-size: 0.9em;
}

#alg-description-body {
  font-size: 0.7em;
}

#intro {
  font-weight: 225;
  font-size: 1.2em !important;
  text-shadow: 2px 2px black;
}


.icon-links-first {
  padding-left: 0em !important;
}

.icon-links {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1.75em;
  display: inline-block;
  color: white;
}

.icon-links:hover{
  opacity: 0.5;
  color: black;
  background-color: red !important;
}

i {
  height: 100%;
  width: 100%;
}

/* watch for screen changes */
@media(max-width: 800px) {

  /* make all the display container with words + buttons centered  */
  body {
    display: flex !important;
    justify-content: center !important;
  }

  html {
    font-size: 1em;  
  }

  #alg-description {
    display: block;
    left: 1em
  }

  #alg-description-title, #alg-description-body {
    font-size: 0.65em;
  }

  .container {
    
    text-align: center !important;
    margin: 0 !important;
    padding: 0 15px !important;
  }

  .title {
    width: 95%;
    margin: 0 auto;
  }
}